<mat-sidenav-container class="example-container" style="background-color: #424242">

  <mat-sidenav  mode="side" opened >
    <app-homepage-list></app-homepage-list>
  </mat-sidenav>



  <mat-sidenav-content >
    <div class="row" >
      <div class="column">
        <figure>
          <img src="assets/images/michal.jpg" width="220" height="240"/>
          <p>Michal (Pharmacovigilance Specialist)</p>
          <p>Email: michalemail@gmail.com</p>
          <p>Phone: +48 999999999</p>
        </figure>
      </div>
      <div class="column">
        <figure>
          <img src="assets/images/piotrek.jpg" width="220" height="240"/>
          <p>Piotrek (Pharmacovigilance Specialist)</p>
          <p>Email: piotrekemail@gmail.com</p>
          <p>Phone: +48 888888888</p>
        </figure>
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
