<mat-sidenav-container class="example-container" style="background-color: #424242">

  <mat-sidenav mode="side" opened>
    <app-homepage-list></app-homepage-list>
  </mat-sidenav>



  <mat-sidenav-content>
    <div>
      <ul>
        <h3>Updates:</h3>
        <li>New SUSAR table has been added. Since this moment it is possible to track SUSARs distribution process in
          system.</li>
        <li>New dashboard has been added. Since this moment it is possible to present SUSAR types on the dashboard.</li>
        <li>Problem with filters has been solved.</li>
      </ul>
      <ul>
        <h3>Team changes:</h3>
        <li>Please be informed that Michal joined PV Team this month. Our Team grows so fast.</li>
      </ul>
      <ul>
        <h3>Study important information:</h3>
        <li>UreaStudy ends this month. Please make sure that every SUSAR was distributed.</li>
      </ul>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>