<form #specialistForm="ngForm" (ngSubmit)="updateSpecialist()" novalidate>
  <ol class="example-container">
    <li>
      <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="data.name" name="name">
      </mat-form-field>
    </li>
    <li>
      <mat-form-field>
        <input matInput placeholder="lastName" [(ngModel)]="data.lastName" name="lastName">
      </mat-form-field>
    </li>
    <li>
      <mat-form-field>
        <input matInput placeholder="Study" [(ngModel)]="data.study" name="study">
      </mat-form-field>
    </li>
    <li>
      <mat-form-field>
        <input matInput placeholder="Country" [(ngModel)]="data.country" name="country">
      </mat-form-field>
    </li>
  </ol>
</form>
<div class="buttons">
  <button mat-raised-button color="primary" (click)="closeDialog()">Cancel</button>
  <button mat-raised-button color="primary" type="submit" (click)="updateSpecialist()">Update</button>
</div>