<mat-sidenav-container class="example-container" style="background-color: #424242">

  <mat-sidenav mode="side" opened>
    <app-button-list></app-button-list>
    <app-list-filters-studies></app-list-filters-studies>
    <app-list-filters-countries></app-list-filters-countries>
    <app-list-filters-sites></app-list-filters-sites>
    <app-list-filters-type></app-list-filters-type>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-my-table></app-my-table>
  </mat-sidenav-content>

</mat-sidenav-container>