table {
  width: 100%;
}
.mat-elevation-z8{
background-color: white;
}


td{
color: black;
border-color:grey;
}

th{
color: black;
border-color:grey;
}

button {
margin-right: 25px;
margin-left: 25px;
}
